@page "/Product/create"
@page "/Product/update/{id:int}"

@inject IProductRepository _productRepository
@inject NavigationManager _navigationManager

@inject IJSRuntime _jsRuntime

@if (IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">@(Id>0 ? "Update" : "Create") Product</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <EditForm Model="Product" FormName="productUpsertForm" OnValidSubmit="Upsertproduct">
                <DataAnnotationsValidator />

                <div class="border p-3 mt-4">
                    <div class="form-floating py-3 col-12">
                        <InputText id="name" class="form-control" @bind-Value="Product.Name" />
                        <label for="Name">Name</label>
                        <ValidationMessage For="@(() => Product.Name)" />
                    </div>
                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control" disabled="@IsProcessing">
                                <i class="bi bi-save"></i> Save
                            </button>
                        </div>
                        <div class="col-6 col-md-3">
                           <a href="/Product" class="btn btn-secondary form-control">
                                <i class="bi bi-arrow-bar-left"></i> Back to list
                            </a>
                        </div>
                    </div>
                </div>
            </EditForm>             
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private bool IsProcessing { get; set; } = true;

    [SupplyParameterFromForm]
    private Product Product { get; set; } = new Product();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Loadproduct();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task Loadproduct()
    {
        if (Id > 0)
        {
            Product = await _productRepository.GetAsync(Id);
        }
    }

    private async Task Upsertproduct()
    {
        IsProcessing = true;
        StateHasChanged();
        if (Product.Id == 0)
        {
            await _productRepository.CreateAsync(Product);
            await _jsRuntime.ToastrSuccess("Product created successfully!");
        }
        else
        {
            await _productRepository.UpdateAsync(Product);
            await _jsRuntime.ToastrError("Product updated successfully!");
        }
        IsProcessing = false;
        _navigationManager.NavigateTo("/Product");
    }
}
