@page "/Product"
@using System.Globalization

@inject IProductRepository _ProductRepository
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<BootstrapModal  OnModalConfirmation="ConfirmDeleteClick"
    ButtonBootstrapStyle="btn-danger"
    ButtonText="Delete"
    ModalTitle="Are you sure you want to delete this Product?">
</BootstrapModal>

@if(IsProcessing)
{
    <div class="position-absolute w-75 h-75 d-flex flex-coumn align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading" />
    </div>
}
else
{
    <div class="card shadow border-0 m-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Product List</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <a href="/Product/create" class="btn btn-lg btn-secondary" style="width:250px;">
                        <i class="bi bi-plus-square"></i>  Add New Product
                    </a>
                </div>
            </div>
            @if(Products.Any())
            {
                <RadzenDataGrid AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                                AllowSorting="true" PageSize="5" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                                ShowPagingSummary="true" Data="@Products" ColumnWidth="300px"
                                LogicalFilterOperator="LogicalFilterOperator.Or" SelectionMode="DataGridSelectionMode.Single">
                    <Columns>
                        <RadzenDataGridColumn Property="Id" Filterable="true" Title="ID" Frozen="true" Width="80px" />
                        <RadzenDataGridColumn Property="Name" Title="Name" Frozen="true" Width="160px" />
                        <RadzenDataGridColumn Property="Price" Title="Price" FormatString="{0:C}" Width="120px" />
                        <RadzenDataGridColumn Property="Description" Title="Description" Width="120px" />
                        <RadzenDataGridColumn Property="SpecialTag" Title="Special Tag" Width="140px" />
                        <RadzenDataGridColumn Property="Category.Name" Title="Category" Width="120px" />
                        <RadzenDataGridColumn Title="Action" Sortable="false" Filterable="false" Width="200px" TextAlign="TextAlign.Center">
                            <Template Context="product">
                                <RadzenButton Shade="Shade.Lighter" Text="Edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Small"
                                              Click="@(()=>_navigationManager.NavigateTo($"/Product/update/{product.Id}"))">
                                </RadzenButton>
                                <RadzenButton Shade="Shade.Lighter" Text="Delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small"
                                              Click="@(()=>HandleDelete(product.Id))">
                                </RadzenButton>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            }
        </div>
    </div>
}

@code {
    private bool IsProcessing { get; set; } = true;
    private IEnumerable<Product> Products { get; set; } = new List<Product>();
    private int DeleteCategoryID { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadCategories();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadCategories()
    {
        Products = await _ProductRepository.GetAllAsync();
    }

    private void HandleDelete(int id)
    {
        DeleteCategoryID = id;
        _jsRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDeleteClick(bool isConfirmed)
    {
        IsProcessing = true;
        await _jsRuntime.InvokeVoidAsync("HideConfirmationModal");
        if(isConfirmed && DeleteCategoryID != 0)
        {
            var result = await _ProductRepository.DeleteAsync(DeleteCategoryID);
            if(result)
              _jsRuntime.ToastrSuccess("Product Delete Successfully");
            else
                _jsRuntime.ToastrError("Product Delete Failed");
            await LoadCategories();
        }
        DeleteCategoryID = 0;
        IsProcessing = false;

    }

}
